---
export const prerender = false;
import DashboardLayout from "../../layouts/DashboardLayout.tsx";
import { supabase } from "../../lib/supabase";
import Layout from "../../layouts/Layout.astro";
import Alert from "../../components/Alert";

import Stripe from "stripe";

const stripe = new Stripe(
  import.meta.env.PROD
    ? import.meta.env.PUBLIC_STRIPE_SECRET_KEY
    : import.meta.env.PUBLIC_STRIPE_TEST_SECRET_KEY
);

const { data: sessionData, error: sessionError } =
  await supabase.auth.getSession();
const status = Astro.url.searchParams.get("status") || "";
const success = Astro.url.searchParams.get("success") || "";
const error = Astro.url.searchParams.get("error") || "";

const currentUserId = sessionData?.session?.user?.id || null;

const { data: rolesData, error: rolesError } = await supabase
  .from("roles")
  .select("*")
  .eq("user_id", currentUserId)
  .single();

const { data: stripeData, error: stripeError } = await supabase
  .from("stripe_customers")
  .select("*")
  .eq("user_id", currentUserId)
  .single();

console.log(stripeData);

let portalSession = null;

const redirectUrl = import.meta.env.PROD
  ? "https://rethree.online/dashboard/settings"
  : "http://localhost:4321/dashboard/settings";

if (stripeData && stripeData.customer_id) {
  // Create a billing portal session
  portalSession = await stripe.billingPortal.sessions.create({
    customer: stripeData.customer_id,
    return_url: redirectUrl, // Redirect back to your site after the session
  });
}

if (Astro.request.method === "POST") {
  try {
    if (!currentUserId) {
      return Astro.redirect("/login");
    }

    // Make the POST request to your API route
    const response = await fetch(
      `${Astro.url.origin}/api/checkout/checkout_sessions`,
      {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          userId: currentUserId,
        }),
      }
    );

    const data = await response.json();

    // Check if the URL is returned, and redirect the user to Stripe Checkout
    if (data.url) {
      return Astro.redirect(data.url); // Redirect to Stripe Checkout
    }
  } catch (stripeError) {
    console.error("Error creating checkout session:", stripeError);
  }
}
---

<Layout title="Settings" showNav={false} showFooter={false}>
  <Alert status={status} error={error} success={success} />
  <DashboardLayout client:load>
    <div class="flex flex-col items-center gap-16">
      <h1 class="font-bold text-6xl">Settings</h1>
      <div class="flex flex-col items-center gap-8 max-w-lg">
        {
          rolesData?.role === "admin" ? null : portalSession ? (
            <a href={portalSession.url} class="btn btn-primary btn-lg w-full">
              Manage Course
            </a>
          ) : (
            <form method="POST" class="w-full">
              <button type="submit" class="btn btn-primary btn-lg w-full">
                Purchase course
              </button>
            </form>
          )
        }
        <button
          class="btn btn-primary btn-lg w-full"
          onclick="my_modal_1.showModal()">Change Password</button
        >
        <dialog id="my_modal_1" class="modal max-md:modal-bottom">
          <div class="modal-box flex flex-col gap-8">
            <h3 class="text-lg font-bold">Change your password</h3>
            <form
              method="POST"
              action="/api/auth/update-password"
              class="flex flex-col gap-4 max-w-sm w-full mx-auto"
            >
              <input
                type="text"
                name="password"
                placeholder="Enter new password"
                class="input input-bordered w-full"
                minlength="6"
                required
              />
              <input
                type="text"
                name="confirm_password"
                placeholder="Enter new password"
                class="input input-bordered w-full"
                minlength="6"
                required
              />
              <div class="modal-action">
                <button type="submit" class="btn btn-primary"
                  >Update Password</button
                >
              </div>
            </form>
            <div class="modal-action">
              <form method="dialog">
                <!-- if there is a button in form, it will close the modal -->
                <button class="btn">Close</button>
              </form>
            </div>
          </div>
        </dialog>
      </div>
    </div>
  </DashboardLayout>
</Layout>
