---
import Layout from "../layouts/Layout.astro";
import config from "../config.json";

import { Image } from "astro:assets";
import heroImg from "../assets/images/hero.jpg";

import introImg1 from "../assets/images/intro/1.jpg";
import introImg2 from "../assets/images/intro/2.jpg";
import introImg3 from "../assets/images/intro/3.jpg";

import myStoryImg from "../assets/images/myStory.jpg";
import programBgImg from "../assets/images/programBg.jpg";

import { Icon } from "astro-icon/components";

const programs = [
  {
    name: "Ultimate Mindset",
    attributes: [
      "12-week program",
      "Weekly video check-ins",
      "Support via messages",
      "Document current habits",
      "Implement life tools",
      "Create new routines",
      "Set and achieve goals",
      "Break bad cycles",
      "Extended support options",
      "Improve life skills",
    ],
    url: "/programs/ultimate-mindset",
  },
  {
    name: "Mindset Refresh",
    attributes: [
      "45-minute video call",
      "For course graduates",
      "Re-motivation session",
      "Prepare questions beforehand",
      "Email or DM to book",
    ],
    url: "/programs/mindset-refresh",
  },
  {
    name: "Mindset Buddy",
    attributes: [
      "3, 6, 12 month options",
      "Daily check-ins",
      "Weekly video calls",
      "Monthly meet-ups in Auckland",
      "Access to UM program",
      "Networking with professionals",
      "Focus on personal goals",
    ],
    url: "/programs/mindset-buddy",
  },
  {
    name: "Mindset Youth",
    attributes: [],
    url: "/programs/mindset-youth",
  },
];

const faq = [
  {
    q: "Who should do RE:3",
    a: "Everyone",
  },
  {
    q: "Who should do RE:3",
    a: "Everyone",
  },
  {
    q: "Who should do RE:3",
    a: "Everyone",
  },
  {
    q: "Who should do RE:3",
    a: "Everyone",
  },
  {
    q: "Who should do RE:3",
    a: "Everyone",
  },
];

const fields = [
  { name: "firstName", text: "First Name" },
  { name: "lastName", text: "Last Name" },
  { name: "email", text: "Email" },
  { name: "message", text: "Message" },
];
---

<Layout title={config.businessName}>
  <section
    class="h-screen w-full relative bg-black flex flex-col items-center justify-center"
  >
    <Image
      src={heroImg}
      alt="hero"
      class="w-full h-full object-cover absolute top-0 left-0 grayscale-[100] opacity-50"
    />
    <div class="flex flex-col relative z-10 text-center items-center">
      <h2 class="text-primary uppercase text-2xl tracking-widest font-medium">
        Stay Uncomfortable
      </h2>
      <div class="uppercase text-8xl max-md:text-6xl text-white font-extrabold">
        <h1>mindset and</h1>
        <h1>lifestyle coaching</h1>
      </div>
      <a href="/#contact" class="btn btn-primary uppercase w-fit mt-8 btn-lg"
        >Start the journey today</a
      >
    </div>
  </section>
  <section>
    <div class="max-w-screen-xl mx-auto py-16 flex flex-col gap-16 px-4">
      <div class="grid grid-cols-2 max-md:grid-cols-1 gap-16 pb-96 max-md:pb-0">
        <h1 class="font-bold text-5xl">
          A MINDSET AND LIFESTYLE COACHING EXPERIENCE
        </h1>
        <div class="flex flex-col w-full gap-8">
          <p class="text-right font-light text-4xl" id="introText1">
            Learn how to RE:program your life of pain, suffering, and lack of
            direction into a life of success, happiness, and freedom.
          </p>
        </div>
      </div>
      <div
        class="grid grid-cols-2 grid-rows-1 w-full gap-x-8 max-md:gap-x-4 max-w-screen-lg mx-auto"
      >
        <Image
          src={introImg1}
          alt="intro"
          class="w-full h-full object-cover row-span-2 grayscale-[100]"
        />
        <div
          class="flex flex-col h-full w-full justify-between gap-8 max-md:gap-4"
        >
          <Image
            src={introImg2}
            alt="intro"
            class="w-full aspect-square object-cover grayscale-[100]"
          />
          <Image
            src={introImg3}
            alt="intro"
            class="w-full aspect-square object-cover grayscale-[100]"
          />
        </div>
      </div>
    </div>
  </section>
  <section class="flex flex-col py-16 px-4">
    <div
      class="max-w-screen-xl mx-auto grid grid-cols-2 gap-16 max-md:grid-cols-1"
    >
      <div class="flex flex-col gap-8">
        <h1 class="text-6xl font-bold text-primary uppercase">My Story</h1>
        <p class="font-light text-2xl">
          I grew up in street gangs, committing crimes, addicted to drugs and
          alcohol, with no set routine every day—just on autopilot and seeing no
          potential in myself. <br /><br />
          This led to ongoing excuses and living in a victim state. <br /><br />
          I fell in love with boxing, but quickly noticed it was my life and mindset
          outside of the gym that were hindering my growth and potential. <br
          /><br />
          I had some honest conversations with myself and with others I looked up
          to. I did all the hard work myself, gathering tools like meditation, breathwork,
          affirmations, and diving headfirst into discipline. <br /><br />
          I completely changed my life, pursued boxing to the fullest, winning some
          of the most prestigious tournaments in NZ. <br /><br />
          I took my role as a father and husband more seriously, provided a legitimate
          income, and I'm now entering my second year completely sober.
        </p>
      </div>
      <Image
        src={myStoryImg}
        alt="my story"
        class="h-full object-cover grayscale-[100]"
      />
      <p class="text-right font-light text-4xl" id="introText3">
        Learn when to push yourself and when you might be falling into a victim
        mindset. Share your problems to lighten the load. Avoid self-deception
        and make a genuine commitment to personal growth.
      </p>
    </div>
  </section>
  <section class="py-16 bg-base-200 px-4" id="programs">
    <div class="max-w-screen-xl mx-auto flex flex-col gap-16">
      <h1 class="text-6xl font-bold text-primary text-center uppercase">
        Our Programs
      </h1>
      <div
        class="grid grid-cols-2 max-md:grid-cols-1 grid-rows-2 place-items-center w-full max-w-screen-sm gap-8 mx-auto"
      >
        {
          programs.map((program) => (
            <div class="flex flex-col w-full h-full relative bg-gray-300">
              <div class="relative z-20 text-black flex flex-col p-8 gap-4 h-full">
                <h1 class="mx-auto underline text-3xl">{program.name}</h1>
                <ul class="my-auto">
                  {program.attributes.map((attribute) => (
                    <li class="flex items-center gap-2">
                      <span>
                        <Icon name="mdi:check-bold" class="text-green-500" />
                      </span>
                      <h2 class="font-extralight">{attribute}</h2>
                    </li>
                  ))}
                </ul>
                <a
                  href={program.url}
                  class="btn mt-auto btn-primary text-white"
                >
                  Learn More
                </a>
              </div>
            </div>
          ))
        }
      </div>
      <p class="text-right font-light text-4xl max-w-screen-md" id="introText2">
        Invest in yourself by understanding who you are and how you move. Take
        accountability and stay open-minded. Be teachable, not a know-it-all.
        Reach out for help, recognising that investing in you means seeking
        guidance.
      </p>
    </div>
  </section>
  <section class="py-16 px-4" id="contact">
    <div class="max-w-screen-xl mx-auto flex flex-col gap-16">
      <h1 class="text-6xl font-bold text-center text-primary uppercase">
        FAQ and Contact
      </h1>
      <div class="grid grid-cols-2 max-md:grid-cols-1 gap-16">
        <div class="max-w-screen-md w-full flex flex-col gap-4 mx-auto">
          {
            faq.map((q, index) => (
              <div class="collapse collapse-arrow bg-base-200">
                <input type="radio" name="my-accordion" checked={index == 0} />
                <div class="collapse-title text-xl font-medium">{q.q}</div>
                <div class="collapse-content">
                  <p>{q.a}</p>
                </div>
              </div>
            ))
          }
        </div>
        <form
          name="contact"
          method="POST"
          data-netlify="true"
          class="w-full flex flex-col gap-2 text-2xl max-md:text-xl font-light"
        >
          <div class="rounded-2xl border-2 border-black p-8 px-8 max-md:px-4">
            {
              fields.map((field, index) => (
                <div
                  class={`flex gap-4 items-center ${index != fields.length - 1 && "border-b-2"} border-black py-2`}
                >
                  <label
                    for={field.name}
                    class="whitespace-nowrap min-w-24 max-md:min-w-12"
                  >
                    {field.text}
                  </label>
                  {field.name === "message" ? (
                    <textarea
                      id={field.name}
                      name={field.name}
                      class="bg-transparent form-input px-4 h-32 py-3 w-full rounded focus:outline-none font-extralight"
                    />
                  ) : (
                    <input
                      autocomplete="on"
                      type="text"
                      id={field.name}
                      name={field.name}
                      class="bg-transparent form-input px-4 py-3 w-full rounded focus:outline-none font-extralight"
                    />
                  )}
                </div>
              ))
            }
          </div>
          <div class="flex text-[#e4ab97] w-full justify-center my-6">
            <input
              type="submit"
              value="Submit"
              class="btn btn-primary btn-lg"
            />
          </div>
        </form>
      </div>
    </div>
  </section>
</Layout>

<script>
  import gsap from "gsap";
  import SplitType from "split-type";

  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  new SplitType("#introText1", { types: "lines", lineClass: "line1" });
  new SplitType("#introText2", { types: "lines", lineClass: "line2" });
  new SplitType("#introText3", { types: "lines", lineClass: "line3" });

  const introTl1 = gsap.timeline();
  const introTl2 = gsap.timeline();
  const introTl3 = gsap.timeline();

  introTl1.fromTo(
    ".line1",
    {
      color: "#d1d1d1",
    },
    {
      color: "#000000",
      scrollTrigger: {
        trigger: "#introText1",
        start: "top 50%",
        end: "bottom 50%",
        scrub: true,
      },
      stagger: 0.1,
    },
  );
  introTl2.fromTo(
    ".line2",
    {
      color: "#d1d1d1",
    },
    {
      color: "#000000",
      scrollTrigger: {
        trigger: "#introText2",
        start: "top 50%",
        end: "bottom 50%",
        scrub: true,
      },
      stagger: 0.1,
    },
  );
  introTl3.fromTo(
    ".line3",
    {
      color: "#d1d1d1",
    },
    {
      color: "#000000",
      scrollTrigger: {
        trigger: "#introText3",
        start: "top 50%",
        end: "bottom 50%",
        scrub: true,
      },
      stagger: 0.1,
    },
  );
</script>
