---
export const prerender = true;

import Layout from "../layouts/Layout.astro";
import config from "../config.json";
import { Cloudinary } from "@cloudinary/url-gen";
import { Resize } from "@cloudinary/url-gen/actions";

import { Image } from "astro:assets";
import heroImg from "../assets/images/hero.jpg";

import introImg1 from "../assets/images/intro/1.jpg";
import introImg2 from "../assets/images/intro/2.jpeg";
import introImg3 from "../assets/images/intro/3.jpg";
import testimonials from "../data/testimonials.json";

import myStoryImg from "../assets/images/myStory.jpg";

import { Icon } from "astro-icon/components";

const programs = [
  {
    name: "Ultimate Mindset",
    attributes: [
      "12-week program",
      "Weekly video check-ins",
      "Support via messages",
      "Document current habits",
      "Implement life tools",
      "Create new routines",
      "Set and achieve goals",
      "Break bad cycles",
      "Extended support options",
      "Improve life skills",
    ],
    url: "/programs/ultimate-mindset",
  },
  {
    name: "Mindset Refresh",
    attributes: [
      "45-minute video call",
      "For course graduates",
      "Re-motivation session",
      "Prepare questions beforehand",
      "Email or DM to book",
    ],
    url: "/programs/mindset-refresh",
  },
  {
    name: "Mindset Buddy",
    attributes: [
      "3, 6, 12 month options",
      "Daily check-ins",
      "Weekly video calls",
      "Monthly meet-ups in Auckland",
      "Access to UM program",
      "Networking with professionals",
      "Focus on personal goals",
    ],
    url: "/programs/mindset-buddy",
  },
  {
    name: "Mindset Youth",
    attributes: [
      "Fitness",
      "Self-defense",
      "Mindset and goal setting",
      "Weekly check-ins",
    ],
    url: "/programs/mindset-youth",
  },
];

const faq = [
  {
    q: "I'm a women can I still do this?",
    a: "Over 70% of our clients are women. We help solo mums and wives going through mental health issues. We are open to taking on every type of person as our teachings and mentorship can be applied to everyone.",
  },
  {
    q: "Will it stop me vaping?",
    a: "If you are ready to quit vaping RE:3 will show you the light. Plenty of our clients are now ex-vapers.",
  },
  {
    q: "How do I get started?",
    a: "Once you fill out the contact form we will reach you back within 48 hours. From there we will get you started. ",
  },
  {
    q: "Where do I access the program content?",
    a: "Once you pay for the program, you will get access to the members section. Here you have access to all of course content as well as various other tools that we use.",
  },
];

const fields = [
  { name: "firstName", text: "First Name" },
  { name: "lastName", text: "Last Name" },
  { name: "email", text: "Email" },
  { name: "phone", text: "Phone" },
  { name: "message", text: "Message" },
];

const interests = ["Ultimate Mindset", "Mindset Refresh", "Mindset Buddy"];

const cld = new Cloudinary({
  cloud: {
    cloudName: import.meta.env.CLOUDINARY_CLOUD_NAME,
  },
});

const introVideo = cld.video("re3/intro");
introVideo.resize(Resize.scale().width(1920));
const introVideoURL = introVideo.toURL();
---

<Layout title={config.businessName}>
  <section
    class="h-screen w-full relative bg-black flex flex-col items-center justify-center"
  >
    <Image
      src={heroImg}
      alt="hero"
      class="w-full h-full object-cover absolute top-0 left-0 grayscale-[100] opacity-50"
    />
    <div class="flex flex-col relative z-10 text-center items-center">
      <h2 class="text-primary uppercase text-2xl tracking-widest font-medium">
        Stay Uncomfortable
      </h2>
      <div class="uppercase text-8xl max-md:text-6xl text-white font-extrabold">
        <h1>mindset and</h1>
        <h1>lifestyle coaching</h1>
      </div>
      <a href="/#contact" class="btn btn-primary uppercase w-fit mt-8 btn-lg"
        >Start the journey today</a
      >
    </div>
  </section>
  <section>
    <div class="max-w-screen-xl mx-auto py-16 flex flex-col gap-16 px-4">
      <div class="grid grid-cols-2 max-md:grid-cols-1 gap-16 max-md:pb-0 pb-96">
        <h1 class="font-bold text-5xl">
          A MINDSET AND LIFESTYLE COACHING EXPERIENCE
        </h1>
        <div class="flex flex-col w-full gap-8">
          <p
            class="text-right font-light text-4xl max-md:text-3xl"
            id="introText1"
          >
            Learn how to RE:program your life of pain, suffering, and lack of
            direction into a life of success, happiness, and freedom.
          </p>
        </div>
      </div>
      <div
        class="grid grid-cols-2 grid-rows-1 w-full gap-8 max-md:gap-x-4 max-w-screen-lg mx-auto"
      >
        <Image
          src={introImg1}
          alt="intro"
          class="w-full h-full object-cover grayscale-[100]"
        />
        <div
          class="flex flex-col h-full w-full justify-between gap-8 max-md:gap-4"
        >
          <Image
            src={introImg2}
            alt="intro"
            class="w-full h-full aspect-square object-cover grayscale-[100]"
          />
          <Image
            src={introImg3}
            alt="intro"
            class="w-full h-full aspect-square object-cover grayscale-[100]"
          />
        </div>
        <div class="col-span-2 relative overflow-hidden">
          <div
            id="introVideoCover"
            class="absolute top-0 left-0 w-full h-full bg-black z-10"
          >
            <h1
              class="absolute top-1/2 left-1/2 w-full text-center -translate-x-1/2 -translate-y-1/2 text-7xl max-md:text-4xl text-white font-bold uppercase"
            >
              Hear my story
            </h1>
          </div>
          <video
            id="introVideo"
            autoplay
            loop
            muted
            controls
            playsinline
            class="w-full aspect-video max-md:h-96 object-cover"
          >
            <source src={introVideoURL} type="video/mp4" />
          </video>
        </div>
      </div>
    </div>
  </section>
  <section class="flex flex-col py-16 px-4">
    <div
      class="max-w-screen-xl mx-auto grid grid-cols-2 gap-16 max-md:grid-cols-1"
    >
      <div class="flex flex-col gap-8">
        <h1 class="text-6xl font-bold text-primary uppercase">My Story</h1>
        <p class="font-light text-2xl">
          I grew up in street gangs, committing crimes in my teenage years,
          addicted to drugs and alcohol, with no set routine every day—just on
          autopilot, doing jobs I didn't really want to do but didn't know any
          other way or thought I couldn't do much besides being stuck in my 9-5
          job <br /><br />
          This led to ongoing excuses and living in a victim state. <br /><br />
          I fell in love with boxing, quickly learnt tools and understood that my
          mindset ie (discipline, motivation, focus, spiritual practices) I had in
          boxing could change my life outside of the world of boxing. <br /><br
          />
          I had some honest conversations with myself and with others I looked up
          to. I did all the hard work myself, gathering tools like meditation, breathwork,
          affirmations, and diving headfirst into discipline. <br /><br />
          I completely changed my life, pursued boxing to the fullest, winning some
          of the most prestigious tournaments in NZ. <br /><br />
          I took my role as a father and husband more seriously, provided a legitimate
          income, and I'm now entering my second year completely sober.
        </p>
      </div>
      <Image
        src={myStoryImg}
        alt="my story"
        class="h-full object-cover grayscale-[100]"
      />
      <p class="text-right font-light text-4xl max-md:text-3xl" id="introText3">
        Learn when to push yourself and when you might be falling into a victim
        mindset. Share your problems to lighten the load. Avoid self-deception
        and make a genuine commitment to personal growth.
      </p>
    </div>
  </section>
  <section class="py-16 bg-base-200 px-4" id="programs">
    <div class="max-w-screen-xl mx-auto flex flex-col gap-16">
      <h1 class="text-6xl font-bold text-primary text-center uppercase">
        Our Programs
      </h1>
      <div
        class="grid grid-cols-2 max-md:grid-cols-1 grid-rows-2 place-items-center w-full max-w-screen-sm gap-8 mx-auto"
      >
        {
          programs.map((program) => (
            <div class="flex flex-col w-full h-full relative bg-gray-300">
              <div class="relative z-20 text-black flex flex-col p-8 gap-4 h-full">
                <h1 class="mx-auto underline text-3xl">{program.name}</h1>
                <ul class="my-auto">
                  {program.attributes.map((attribute) => (
                    <li class="flex items-center gap-2">
                      <span>
                        <Icon name="mdi:check-bold" class="text-green-500" />
                      </span>
                      <h2 class="font-extralight">{attribute}</h2>
                    </li>
                  ))}
                </ul>
                <a
                  href={program.url}
                  class="btn mt-auto btn-primary text-white"
                >
                  Learn More
                </a>
              </div>
            </div>
          ))
        }
      </div>
      <p
        class="text-right font-light text-4xl max-w-screen-md max-md:text-3xl"
        id="introText2"
      >
        Invest in yourself by understanding who you are and how you move. Take
        accountability and stay open-minded. Be teachable, not a know-it-all.
        Reach out for help, recognising that investing in you means seeking
        guidance.
      </p>
    </div>
  </section>
  <section id="testimonials">
    <div class="max-w-screen-xl mx-auto py-16 flex flex-col gap-16 px-4">
      <div class="max-md:pb-0 flex flex-col items-center gap-4">
        <h1
          class="text-6xl font-bold text-center text-primary uppercase max-md:text-4xl"
        >
          TESTIMONIALS
        </h1>
        <div class="flex flex-col w-full items-center gap-8">
          <p
            class="font-light text-2xl text-center max-md:text-xl max-w-2xl"
            id="introText1"
          >
            <span class="font-bold">Transforming lives </span>in just 12 weeks!
            This powerful program has helped both youth and adults overcome
            personal challenges through tools like goal-setting, anxiety
            management, journaling, and discipline. Whether it's helping
            troubled youth develop resilience or guiding adults to break through
            barriers, participants learn to achieve their goals, manage stress,
            and turn setbacks into growth. Join today and experience the proven
            impact of this life-changing program!
          </p>
        </div>
        <div
          class="mt-16 mx-auto grid max-w-screen-xl grid-cols-2 gap-8 max-md:grid-cols-1"
        >
          {
            testimonials.testimonials.slice(0, 2).map((testimonial) => (
              <div class="flex flex-col items-center justify-start rounded-lg border-2 border-default p-8">
                <div class="flex flex-col items-center justify-center">
                  <h1 class="mt-4 font-bold uppercase text-2xl">
                    {testimonial.name}
                  </h1>
                </div>
                <div class="flex flex-col items-center gap-4">
                  <p
                    class="mt-4 font-extralight text-sm"
                    style="white-space: pre-wrap;"
                  >
                    {testimonial.content}
                  </p>
                </div>
              </div>
            ))
          }
        </div>
        <a
          href="/testimonials"
          class="link-primary link mx-auto text-center transition text-lg"
          >Read More Of Our Testimonials</a
        >
      </div>
    </div>
  </section>
  <section class="py-16 px-4 bg-base-200" id="contact">
    <div class="max-w-screen-xl mx-auto flex flex-col gap-16">
      <h1 class="text-6xl font-bold text-center text-primary uppercase">
        FAQ and Contact
      </h1>
      <div class="grid grid-cols-2 max-md:grid-cols-1 gap-16">
        <div class="max-w-screen-md w-full flex flex-col gap-4 mx-auto">
          {
            faq.map((q, index) => (
              <div class="collapse collapse-arrow bg-white">
                <input type="radio" name="my-accordion" checked={index == 0} />
                <div class="collapse-title text-xl font-medium">{q.q}</div>
                <div class="collapse-content">
                  <p>{q.a}</p>
                </div>
              </div>
            ))
          }
        </div>
        <form
          name="contact"
          method="post"
          data-netlify="true"
          class="w-full max-w-2xl mx-auto bg-white p-6"
        >
          <h1 class="text-sm italic text-gray-700 mb-4">
            Interested in the program? Fill out the form and we will contact you
            back within 48 hours.
          </h1>
          {
            fields.map((field) => (
              <div class="mb-4">
                <label
                  for={field.name}
                  class="block text-black text-sm font-bold mb-2"
                >
                  {field.text}
                </label>
                {field.name === "message" ? (
                  <textarea
                    id={field.name}
                    name={field.name}
                    class="w-full px-3 py-2 text-gray-700 border  focus:outline-none focus:border-primary"
                    rows="4"
                  />
                ) : (
                  <input
                    type={field.name === "email" ? "email" : "text"}
                    id={field.name}
                    name={field.name}
                    class="w-full px-3 py-2 text-gray-700 border  focus:outline-none focus:border-primary"
                    required
                  />
                )}
              </div>
            ))
          }

          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">
              Programs interested in
            </label>
            <div class="flex flex-wrap gap-2">
              {
                interests.map((interest) => (
                  <label class="inline-flex items-center">
                    <input
                      type="checkbox"
                      name="interests"
                      value={interest}
                      class="form-checkbox h-5 w-5 text-blue-600"
                    />
                    <span class="ml-2 text-gray-700">{interest}</span>
                  </label>
                ))
              }
            </div>
          </div>

          <div class="text-center">
            <button
              type="submit"
              class="bg-primary text-white font-bold py-2 px-4 rounded-lg transition duration-300"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>

  <script>
    import gsap from "gsap";
    import SplitType from "split-type";

    import { ScrollTrigger } from "gsap/ScrollTrigger";
    gsap.registerPlugin(ScrollTrigger);

    new SplitType("#introText1", { types: "lines", lineClass: "line1" });
    new SplitType("#introText2", { types: "lines", lineClass: "line2" });
    new SplitType("#introText3", { types: "lines", lineClass: "line3" });

    const introTl1 = gsap.timeline();
    const introTl2 = gsap.timeline();
    const introTl3 = gsap.timeline();

    introTl1.fromTo(
      ".line1",
      {
        color: "#d1d1d1",
      },
      {
        color: "#000000",
        scrollTrigger: {
          trigger: "#introText1",
          start: "top 50%",
          end: "bottom 50%",
          scrub: true,
        },
        stagger: 0.1,
      }
    );
    introTl2.fromTo(
      ".line2",
      {
        color: "#d1d1d1",
      },
      {
        color: "#000000",
        scrollTrigger: {
          trigger: "#introText2",
          start: "top 50%",
          end: "bottom 50%",
          scrub: true,
        },
        stagger: 0.1,
      }
    );
    introTl3.fromTo(
      ".line3",
      {
        color: "#d1d1d1",
      },
      {
        color: "#000000",
        scrollTrigger: {
          trigger: "#introText3",
          start: "top 50%",
          end: "bottom 50%",
          scrub: true,
        },
        stagger: 0.1,
      }
    );

    const introVideoTimeline = gsap.timeline();
    introVideoTimeline.to("#introVideoCover", {
      xPercent: -100,
      scrollTrigger: {
        trigger: "#introVideo",
        start: "top 50%",
        end: "30% 50%",
        scrub: true,
      },
    });
  </script>
</Layout>
