---
import config from "../config.json";

import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

import logoImg from "../assets/images/logo.png";
---

<div class="drawer">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />
  <div
    class="drawer-content w-full flex items-center p-8 max-md:p-4 absolute z-50 justify-between"
  >
    <div class="flex items-center">
      <!-- Page content here -->
      <label for="my-drawer"
        ><Icon
          name="mdi:menu"
          class="text-4xl max-md:text-2xl text-white cursor-pointer"
        /></label
      >
      <a href="/">
        <Image
          src={logoImg}
          alt="logo"
          class="w-32 max-md:w-24 object-contain"
        />
      </a>
    </div>
    <div class="max-md:hidden">
      <a href={config.sundayGCBookingLink} target="_blank" class="btn ml-auto"
        >RE3 community</a
      >
      <a
        href={config.bookingLink}
        target="_blank"
        class="btn btn-primary ml-auto">Book A Call</a
      >
    </div>
  </div>
  <div
    class="drawer-content-mobile gap-2 w-full flex items-center max-md:p-4 p-1 px-4 -top-full fixed z-50"
  >
    <!-- Page content here -->
    <label for="my-drawer"
      ><Icon
        name="mdi:menu"
        class="text-4xl max-md:text-2xl text-white cursor-pointer"
      /></label
    >
    <a href="/">
      <Image src={logoImg} alt="logo" class="w-32 max-md:w-24 object-contain" />
    </a>
  </div>
  <div class="drawer-side z-50">
    <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"
    ></label>
    <ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4">
      <!-- Sidebar content here -->
      {
        config.pages.map((page) => (
          <li>
            <a
              href={page.url}
              class="uppercase text-2xl hover:font-bold transition"
            >
              {page.name}
            </a>
          </li>
        ))
      }

      <div class="flex mt-auto w-full items-end justify-between">
        <Image src={logoImg} alt="logo" class="w-32 object-contain bg-black" />
        <div class="flex flex-col gap-2 md:hidden">
          <a
            href={config.sundayGCBookingLink}
            target="_blank"
            class="btn ml-auto btn-primary w-full">RE3 community</a
          >
          <a
            href={config.bookingLink}
            target="_blank"
            class="btn btn-primary ml-auto w-full">Book A Call</a
          >
        </div>
      </div>
    </ul>
  </div>
</div>
<script>
  import gsap from "gsap";
  const viewportHeight = window.innerHeight;

  function debounce<T extends (...args: any[]) => void>(
    func: T,
    wait: number
  ): (...args: Parameters<T>) => void {
    let timeout: ReturnType<typeof setTimeout>;
    return (...args: Parameters<T>) => {
      clearTimeout(timeout);
      timeout = setTimeout(() => func(...args), wait);
    };
  }

  const handleScroll = debounce(() => {
    // Check if the user has scrolled past the height of the viewport
    if (window.scrollY > viewportHeight) {
      gsap.to(".drawer-content-mobile", {
        top: 0,
        backgroundColor: "black",
        ease: "power2.out",
      });
    } else {
      gsap.to(".drawer-content-mobile", {
        top: -100,
        backgroundColor: "transparent",
        ease: "power2.out",
      });
    }
  }, 5);

  window.addEventListener("scroll", handleScroll);
  // if (window.innerWidth < 768) {
  //   // Adjust this value based on your mobile breakpoint (e.g., 768px for tablets and below)
  //   window.addEventListener("scroll", handleScroll);
  // }
</script>
