---
export const prerender = false;
import Layout from "../../layouts/Layout.astro";
import DashboardNav from "../../components/DashboardNav";

// Define an array of course modules
const modules = [
  {
    id: "week-1",
    title: "Week 1",
    description: "Introduction to course and food education.",
    icon: "mdi:calendar-week",
    iconColor: "text-blue-500",
  },
  {
    id: "week-2",
    title: "Week 2",
    description: "Learn about discipline, positvity and gratitude.",
    icon: "mdi:calendar-week",
    iconColor: "text-green-500",
  },
  {
    id: "week-3",
    title: "Week 3",
    description:
      "Tim discusses how to have a positive mindset with meditation and breathwork.",
    icon: "mdi:calendar-week",
    iconColor: "text-red-500",
  },
  {
    id: "week-4",
    title: "Week 4",
    description: "Journalling, exercise and affirmations.",
    icon: "mdi:calendar-week",
    iconColor: "text-yellow-500",
  },
  {
    id: "week-5",
    title: "Week 5",
    description:
      "Noticing and learning about your roadblocks and cycles + how to fix them.",
    icon: "mdi:calendar-week",
    iconColor: "text-indigo-500",
  },
  {
    id: "week-6",
    title: "Week 6-12",
    description:
      "RE:start your new life; working on the goals and dreams you want in life.",
    icon: "mdi:calendar-week",
    iconColor: "text-pink-500",
  },
  {
    id: "ebooks",
    title: "E-books",
    description:
      "Access additional reading materials to supplement your learning.",
    icon: "mdi:book-open-page-variant",
    iconColor: "text-purple-500",
  },
  {
    id: "guided-meditation",
    title: "Guided Meditation + Breathwork",
    description:
      "Relax and focus with guided meditation and breathwork sessions.",
    icon: "mdi:meditation",
    iconColor: "text-teal-500",
  },
  {
    id: "additional-readings",
    title: "Additional Readings",
    description: "Explore more resources to enhance your understanding.",
    icon: "mdi:book-multiple",
    iconColor: "text-orange-500",
  },
];
---

<Layout title="Course" showNav={false} showFooter={false}>
  <DashboardNav client:load />
  <section
    class="min-h-screen flex bg-black text-white flex-col items-center justify-center py-12 px-4 sm:px-6 lg:px-8"
  >
    <div class="max-w-5xl w-full space-y-8 mt-32">
      <div class="text-center">
        <h1 class="text-5xl font-bold">
          Welcome to RE:THREE, 12 Week Program!
        </h1>
        <p class="mt-4 text-lg text-gray-200">
          Dive into the modules below to start your learning journey.
        </p>
      </div>
      <div class="mt-12">
        <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
          {
            modules.map((module) => (
              <li class="flex">
                <a
                  href={`/course/${module.id}`}
                  class="flex flex-col bg-white rounded-xl transform hover:-translate-y-1 transition duration-300 flex-1"
                >
                  <div class="p-6 flex flex-col h-full">
                    <div class="flex items-center">
                      <h2 class="text-2xl font-semibold text-gray-800">
                        {module.title}
                      </h2>
                    </div>
                    <p class="mt-4 text-gray-600 flex-grow">
                      {module.description}
                    </p>
                  </div>
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </section>
</Layout>
